# Ansible Role:  {{ role_name | default('prepare') }} 


## Description 
{{ role_description }}  


## Tasks description and tags

```yaml
{{ tasks_output.stdout }}
```
### To run use

```bash
ansible-playbook -i inventory.yml playbook.yml -K
```

### To run specific task use tag

```bash
ansible-playbook -i inventory.yml playbook.yml --tags profile -K
```

### To list all task use

```bash
ansible-playbook -i inventory.yml playbook.yml --list-tasks 
```

### To run and watch detail info use 

```bash
ansible-playbook -i inventory.yml playbook.yml -Dv -K
```

## Default Variables

| Variable | Default | Description |
|----------|---------|------------|
{% for var, value in defaults_vars.items() %}
| {{ var }} | {{ value }} | {{ var_descriptions[var] if var in var_descriptions else '' }} |
{% endfor %}


## Quality

![ansible-lint](https://img.shields.io/badge/ansible--lint-passed-brightgreen)
![platforms](https://img.shields.io/badge/platforms-EL%20%7C%20Debian-blue)
![license](https://img.shields.io/badge/license-MIT-green)


**Author:** {{ role_author }}  

[LICENSE {{ role_license }}](LICENSE)  
